# Quick start guide
How to use the weather_data_retriever as a package

## Import

In [1]:
from weather_data_retriever import fetch_open_meteo_weather_data

## How to use 'fetch_open_meteo_weather_data'

With the goal of requiring as few lines of code as feasible for its implementation, the function has been designed for maximum simplicity of usage.

This function can be used for both retrieving historical and forecasted data

- We will use it for Athens (Greece's capital city).
- The start date will be "2021-05-05" (only applicable for historical data)
- The end date will be "2022-05-05" (only applicable for historical data)
- The aggragation level will be 'daily" 
- The variables_to_fetch will be left empty in order to use the full set of the default variables

For more information about the variables usage have a look at [README.md](README.md)

> We can get both a dataframe and the coming dictionary from the request (the dictionary may be needed in order to have more information based on the coming metadata)

### Historical requests

#### How to use it for "daily" aggregation

In [7]:
daily_historical_weather_data_df, daily_historical_weather_data_dict = fetch_open_meteo_weather_data(location_name = "Athens", start_date = "2021-05-05", end_date = "2021-12-31", case="historical", aggregation="daily")

In [8]:
daily_historical_weather_data_df.head(5)

,time,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,sunrise,precipitation_sum,rain_sum
0,2021-05-04 22:00:00,27.3,17.5,26.7,15.0,1620184960,0.2,0.2
1,2021-05-05 22:00:00,27.8,17.0,29.0,17.4,1620271298,0.1,0.1
2,2021-05-06 22:00:00,26.5,16.9,27.2,15.5,1620357637,0.0,0.0
3,2021-05-07 22:00:00,28.5,17.6,31.7,19.1,1620443975,0.0,0.0
4,2021-05-08 22:00:00,23.2,15.7,21.3,13.3,1620530313,0.0,0.0

In [21]:
print(daily_historical_weather_data_dict.keys())

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'daily_units', 'daily'])

#### How to use it for "hourly" aggregation

In [12]:
hourly_historical_weather_data_df, hourly_historical_weather_data_dict = fetch_open_meteo_weather_data(location_name = "Athens", start_date = "2021-05-05", end_date = "2021-12-31", case="historical", aggregation="hourly")

In [13]:
hourly_historical_weather_data_df.head(5)

,time,temperature_2m,relativehumidity_2m,dewpoint_2m,apparent_temperature,precipitation,rain,snowfall
0,2021-05-04 22:00:00,19.4,61,11.7,15.6,0.0,0.0,0.0
1,2021-05-04 23:00:00,19.3,60,11.3,15.5,0.0,0.0,0.0
2,2021-05-05 00:00:00,18.8,63,11.6,15.5,0.0,0.0,0.0
3,2021-05-05 01:00:00,18.3,66,12.0,15.5,0.0,0.0,0.0
4,2021-05-05 02:00:00,17.9,69,12.2,15.0,0.0,0.0,0.0

> It is important to keep in mind that the hourly format does not utilize all of the fields that were present in the prior format. Instead, it uses some of them from the previous format in addition to certain additional fields.

In [22]:
print(hourly_historical_weather_data_dict.keys())

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'hourly_units', 'hourly'])

### Forecasting requests

#### How to use it for "daily" aggregation

In [17]:
daily_forecasted_weather_data_df, daily_forecasted_weather_data_dict = fetch_open_meteo_weather_data(location_name = "Athens", start_date = "2021-05-05", end_date = "2021-12-31", case="forecast", aggregation="daily")

In [18]:
daily_forecasted_weather_data_df.head(5)

,time,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,sunrise,precipitation_sum,rain_sum,showers_sum,snowfall_sum
0,2023-01-03 22:00:00,17.0,4.3,15.6,1.8,1672810790,0.0,0.0,0.0,0.0
1,2023-01-04 22:00:00,16.1,6.6,14.8,4.8,1672897195,0.0,0.0,0.0,0.0
2,2023-01-05 22:00:00,17.1,5.2,15.9,3.1,1672983593,0.0,0.0,0.0,0.0
3,2023-01-06 22:00:00,16.8,5.6,15.5,2.8,1673069989,0.0,0.0,0.0,0.0
4,2023-01-07 22:00:00,16.1,5.3,14.7,2.9,1673156384,0.0,0.0,0.0,0.0

In [23]:
print(daily_forecasted_weather_data_dict.keys())

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'daily_units', 'daily'])

### How to use it for "hourly" aggregation (it needs a range of at least 2 years)

In [19]:
hourly_forecasted_weather_data_df, hourly_forecasted_weather_data_dict = fetch_open_meteo_weather_data(location_name = "Athens", start_date = "2021-05-05", end_date = "2021-12-31", case="forecast", aggregation="hourly")

In [20]:
hourly_forecasted_weather_data_df.head(5)

,time,temperature_2m,relativehumidity_2m,dewpoint_2m,apparent_temperature,precipitation,rain,snowfall,showers
0,2023-01-03 22:00:00,5.8,91,3.9,3.6,0.0,0.0,0.0,0.0
1,2023-01-03 23:00:00,5.4,91,3.6,3.1,0.0,0.0,0.0,0.0
2,2023-01-04 00:00:00,5.2,92,2.9,3.0,0.0,0.0,0.0,0.0
3,2023-01-04 01:00:00,5.0,94,3.3,2.7,0.0,0.0,0.0,0.0
4,2023-01-04 02:00:00,5.1,97,3.9,2.9,0.0,0.0,0.0,0.0

In [24]:
print(hourly_forecasted_weather_data_dict.keys())

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'hourly_units', 'hourly'])